.container {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: minmax(250px,500px);
  justify-content: center;
  align-content: center;
  height: 100%;
  width: 100%;
}

.searchfield{
    // width: 100%;
    // max-width: 300px;
}
